<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <a href="register" style="text-decoration: none">Register</a>
    <a href="login" style="text-decoration: none">Log In</a>
    <a href="dashboard" style="text-decoration: none">Dashboard</a>
  </body>
</html>